:root {
    --color-blue: #4FBFA5;
    --color-dark-blue: #00868A;
    --color-light-blue: #ace2e450;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-light-gray: #C4C4C4;
  
    --font-family-base: "Gilroy", sans-serif;
    --border: 1px solid var(--color-white);
  
    --container-width: 1295px;
    --container-padding-x: 15px;
  
    --transition-duration: 0.2s;
  }